<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/Content/AdminPaneli/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Araç Kiralama</span>
    </a>
    <div class="sidebar">
  
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/AdminPaneli/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">R.Oğulcan Kaya</a>
            </div>
        </div>

     
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="/İstatistik/Index" class="nav-link">
                        <i class="fa fa-file-medical-alt" aria-hidden="true"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../widgets.html" class="nav-link">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>
                            Admin
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Kategori/Kategori/" class="nav-link">
                        <i class="fa fa-chart-pie" aria-hidden="true"></i>
                        <p>
                            Kategoriler
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <p>

                            Arabalar


                            <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Arabalar/Index/" class="nav-link">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <p style="color:darkmagenta">Aktif Arabalar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Arabalar/KiralananArabalar/" class="nav-link">
                                <i class="fa fa-upload"  aria-hidden="true"></i>
                                <p style="color:forestgreen">Kiradaki Arabalar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Arabalar/SilinenArabalar/" class="nav-link">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                <p style="color:brown">Pasif Arabalar</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <p>

                            Kullanıcılar
                            <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>


                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Kullanıcılar/Index/" class="nav-link">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <p style="color:darkmagenta">Aktif Kullanıcılar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Kullanıcılar/SilinenKullanıcılar/" class="nav-link">
                                <i class="fa fa-user-times" aria-hidden="true"></i>
                                <p style="color:brown">Pasif Kullanıcılar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <p>

                            Yorumlar

                            <i class="fas fa-angle-left right"></i>

                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Comment/Index/" class="nav-link">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <p style="color:darkmagenta">Aktif Yorumlar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Comment/SilinenComment/" class="nav-link">
                                <i class="fa fa-user-times" aria-hidden="true"></i>
                                <p style="color:brown">Pasif Yorumlar</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a href="/Kiralama/Index/" class="nav-link">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <p>
                            Kiralama Hareket
                        </p>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="/Fatura/Index" class="nav-link">
                        <i class="fa fa-money-bill" aria-hidden="true"></i>
                        <p>
                            Fatura
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Messages/Index" class="nav-link">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p>
                            Mesajlar
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Setting/Index" class="nav-link">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        <p>
                            Settings
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Home/Index" class="nav-link" target="_blank">
                        <i class="fa fa-window-restore" aria-hidden="true"></i>
                        <p>
                            AraçKiralama Home
                        </p>
                    </a>
                </li>



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>



